*/build/_xmsgs/
*/build/*.html
*/build/*.cmd_log
*/build/*.gise
*/build/*.lso
*/build/*.ngc
*/build/*.ngr
*/build/*.prj
*/build/*.stx
*/build/*.syr
*/build/*.xst
*/build/*.xrpt
*/build/*.xml
*/build/xst/
*/build/_ngo/
*/build/*.bgn
*/build/*.bit
*/build/*.bld
*/build/*.drc
*/build/*.ncd
*/build/*.ngd
*/build/*.pad
*/build/*.par
*/build/*.pcf
*/build/*.ptwx
*/build/*.twr
*/build/*.twx
*/build/*.unroutes
*/build/*.ut
*/build/*.xpi
*/build/*_bitgen.xwbt
*/build/*_guide.ncd
*/build/*_map.map
*/build/*_map.mrp
*/build/*_map.ncd
*/build/*_map.ngm
*/build/*_pad.csv
*/build/*_pad.txt
*/build/webtalk.log
*/build/xlnx_auto_0_xdb/
*/iseconfig/*.xreport

